<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>websocket-demo</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <style type="text/css">
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 300px;
      margin-right: 20px;
    }
    li {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #000;
    }
    .send-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top:  30px;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <div id="login" v-if="!isLogin" class="row">
      <div class="col-8">
        <h1>登录</h1>
        <div class="form">
          <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
            <input type="text" v-model="username" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" v-model="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
          </div>
          <button type="button" class="btn btn-primary" @click="doLogin">登录</button>
        </div>
      </div>
    </div>
    <div id="page" class="row" v-else>
      <div class="col-8">
        <h1 class="page-title">欢迎{{username}}</h1>
        <ul id="content">
          <li v-for="(item, index) of list" :key="index" v-html="item.text"></li>
        </ul>
        <div class="send-bar">
          <input type="text" id="input" v-model="wsVal" />
          <div class="send-bar-right">
            <button id="btn" class="btn btn-success" style="margin-right: 10px;" @click="linkWsServer">链接</button>
            <button id="send" class="btn btn-primary" @click="send">发送</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h2 class="userTitle">当前在线人数：{{userList.length}}人</h2>
        <ul id="users">
          <li v-for="(item, index) of userList" :key="index">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/axios.js"></script>
  <script type="text/javascript" src="/js/vue.min.js"></script>
  <script type="text/javascript">

    let vm = new Vue({
      el: '#app',
      data: {
        username: '',
        password: '',
        isLogin: false,
        list: [],
        userList: [],
        wsVal: '',
        ws: null,
      },
      methods: {
        doLogin() {
          axios.post('http://127.0.0.1:3000/api/login', {
            username: this.username,
            password: this.password,
          }).then(res => {
            alert('登录成功');
            this.isLogin = true;
          })
        },
        linkWsServer() {
          let _this = this;
          if(!this.ws) {
            this.ws = new WebSocket('ws://127.0.0.1:3000?name=' + encodeURIComponent(this.username));
          }
          this.ws.onopen=function(){
               console.log('客户端已连接');
               _this.list.push({
                text: '客户端已连接'
               });
           }
          this.ws.onmessage=function(evt){
            console.log(evt.data)
            let data = JSON.parse(evt.data);
            if(data.message) {
              _this.list.push({
                text: data.message
               });
            }
            _this.userList = data.users;

          }
          this.ws.onclose=function(){
              console.log('客户端已断开');
              _this.list.push({
                text: '客户端已断开'
               });
          };
          this.ws.onerror=function(evt){
            console.log(evt)
             _this.list.push({
                text: evt.data
               });
          };
        },
        send() {
          this.ws.send(this.wsVal);
          this.wsVal = '';
        }
      }
    });
  </script>
</body>
</html>